{
  "sourceMaps": "both",
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src/",
        "rootPathPrefix": "/"
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"]
  ]
}